<!DOCTYPE html>
<html>
<head>
    <title>About</title>
<link rel="icon" href="/assets/weather.png"  >
<link href="/css/css.css" rel="stylesheet"  >
</head>
<body>
    <div class="main-content">

{{>header}}

<img class="imgSelf" src="/assets/IMG_20200214_202959.jpg"   />
<p> This is {{name}} from {{city}} </p>

</div>
<p>{{>footer}}</p>
</body>

</html>