<!DOCTYPE html>
<html>
<head>
<title>Help</title>
<link rel="icon" href="/assets/weather.png"  >
    <link href="/css/css.css" rel="stylesheet"  >

</head>

<body>
        <div class="main-content">

{{>header}}
    <p style="font-family:'Gill Sans', 'Gill Sans MT';"> {{message}}. Please call me  8130935017 or email me katheriyaankush@gmail.com if you have any questions </p>
        </div>
{{>footer}}
</body>

</html>